/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

/******************* CSS UTILI *****************/
.debug,
.debug main,
.debug nav,
.debug nav div,
.debug .content,
.debug .bg-blue,
.debug .content-bottom,
.debug footer {
    border: 2px dashed yellowgreen;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.d-none {
    display: none;
}

.ta-right {
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}
/********************* CSS HEADER ***************/

/********************** CSS MAIN ******************/


main nav {
    height: calc(100vh - 10vh);
    background-color: black;
}

main .content {
    width: 100%;
}

main .bg-blue {
    height: 10vh;
    background-color: #080B12;
}

main .content-bottom {
    height: calc(100% - 10vh);
    background-color: brown;
}

nav i,
nav img {
    padding: 0.5rem;
}

.content-top a {
    padding: 0.5rem 1.5rem;
    background-color: #080B12;
    border: 1px solid white;
    border-radius: 20px;
    line-height: 10vh;
    margin-right: 0.5rem;
}

/********************* CSS FOOTER *******************/
footer {
    height: 10vh;
    background-color: gray;
}
